<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Reservas{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css?version=0.44') }}" />

        <script type="text/javascript" src="{{ asset('bundles/Reservas/js/lib/angular.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/Reservas/js/lib/angular.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/Reservas/js/lib/angular-route.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/Reservas/js/app.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/Reservas/js/controllers.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
